openapi: 3.2.0
info:
  title: Tendermint RPC Evidence API
  contact:
    name: Tendermint RPC
    url: https://github.com/tendermint/tendermint/issues/new/choose
  description: 'Tendermint supports the following RPC protocols:


    * URI over HTTP

    * JSON-RPC 2.0 over HTTP

    * JSON-RPC 2.0 over websockets (deprecated)


    ## Configuration


    RPC can be configured by tuning parameters under `[rpc]` table in the

    `$TMHOME/config/config.toml` file or by using the `--rpc.X` command-line

    flags.'
  version: Master
  license:
    name: Apache 2.0
    url: https://github.com/tendermint/tendermint/blob/master/LICENSE
servers:
- url: https://rpc.cosmos.network
  description: Cosmos mainnet node to interact with the Tendermint RPC
- url: http://localhost:26657
  description: Interact with the Tendermint RPC locally on your device
tags:
- name: Evidence
  description: Evidence APIs
paths:
  /broadcast_evidence:
    get:
      summary: Broadcast evidence of the misbehavior
      operationId: broadcast_evidence
      parameters:
      - in: query
        name: evidence
        description: JSON evidence
        required: true
        schema:
          type: string
          example: JSON_EVIDENCE_encoded
      tags:
      - Evidence
      description: Broadcast evidence of the misbehavior.
      responses:
        '200':
          description: Broadcast evidence of the misbehavior.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastEvidenceResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    JSONRPC:
      type: object
      properties:
        id:
          type: integer
          example: 0
        jsonrpc:
          type: string
          example: '2.0'
    ErrorResponse:
      description: Error Response
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - type: object
        properties:
          error:
            type: string
            example: Description of failure
    BroadcastEvidenceResponse:
      type: object
      required:
      - id
      - jsonrpc
      properties:
        error:
          type: string
          example: ''
        result:
          type: string
          example: ''
        id:
          type: integer
          example: 0
        jsonrpc:
          type: string
          example: '2.0'
